.profile-info {
    width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.personal-info,
.toys-info {
    margin-bottom: 20px;
}
