.profile-info {
    width: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.personal-info,
.toys-info {
    margin-bottom: 20px;
}
.button-group {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

textarea {
    width: 100%;
    font-size: 16px;
}
