.custom-datepicker {
    border: 1px solid #ccc;
    border-radius: 8px; /* Rounded corners */
    padding: 10px;
    background-color: #e3f2fd; /* Light blue background */
    width: 150px; /* Set a consistent width */
    text-align: center;
    color: #333;
}

.custom-datepicker:focus {
    outline: none;
    border: 1px solid #5c6bc0; /* Highlight border when focused */
}

.custom-datepicker-end {
    margin-left: 10px; /* Space between the two inputs */
}

.react-datepicker-wrapper {
    display: inline-block; /* Prevent shifting */
    vertical-align: middle;
}

.react-datepicker-popper {
    position: absolute; /* Ensure the popper is positioned correctly */
    z-index: 2; /* Ensure the popper appears above other elements */
}